.loader {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.search {
  margin-bottom: 5px;
}

.emptyList {
  text-align: center;
  margin-top: 20px;
}

.errorUserNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff3347;
  font-size: 20px;
}
