.loader {
  display: flex;
  justify-content: center;
}

.body {
  background-color: #ffffff;
  border: 1px solid #dce1e6;
  padding: 20px;
  border-radius: 20px;
}

.logo {
  font-size: 36px;
  margin-bottom: 10px;
}

.inputName {
  margin-bottom: 20px;
}

.inputTags {
  margin-bottom: 10px;
}

.checkbox {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
