.centeringMenu {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 3;
  overflow-y: hidden;
}

.all {
  margin: 10px 0px;
  overflow-y: hidden;
  max-height: 100%;
  position: relative;
  min-width: 900px;
  max-width: 900px;
  display: flex;
}

.page {
  margin-left: 20px;
  overflow-y: scroll;

  /* flex: 1 0 auto; */
  /* position: relative; */
  flex-grow: 1;
}

.subpage {
  margin-right: 15px;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 170px;
  min-width: 170px;
  flex-grow: 0;
}

.button {
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  padding: 7px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.button:hover {
  background: #dee1e5;
}

.image {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

/* полоса прокрутки (скроллбар) */
.all ::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
}

/* ползунок скроллбара */
.all ::-webkit-scrollbar-thumb {
  background-color: #d5d6db;
  border-radius: 5px;
}
