.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.centeringMenu {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 3;
  overflow-y: hidden;
}

.body {
  margin: 10px 0px;
  overflow-y: hidden;
  max-height: 100%;
  position: relative;
  min-width: 900px;
  max-width: 900px;
  display: flex;
}

.page {
  margin-left: 20px;
  overflow-y: auto;
  flex: 1 0 auto;
}

.subpage {
  margin-right: 15px;
}

/* полоса прокрутки (скроллбар) */
.body ::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
}

/* ползунок скроллбара */
.body ::-webkit-scrollbar-thumb {
  background-color: #d5d6db;
  border-radius: 5px;
}
