.button {
  padding: 10px 7px 10px 2px;
  background: #d7dadb;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.arrow {
  width: 10px;
  height: 10px;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  transform: rotate(225deg);
  padding: 0px;
}
