.body {
  padding: 20px;
  border: 1px solid #dce1e6;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.containerClick {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}

.containerClick:hover {
  background: #f5f6f7;
}

.container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.containerImage {
  display: flex;
  align-items: center;
}

.containerImage img {
  width: 22px;
  height: 22px;
  margin-right: 20px;
}

.modal {
  border-radius: 20px;
  border: 1px solid #dce1e6;
  padding: 20px;
  background: #ffffff;
  width: 300px;
}

.modalLogo {
  margin-bottom: 20px;
}

.modalInput {
  margin-bottom: 20px;
}

.loader {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
