.body {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  height: 35px;
}

.input {
  height: 100%;
  flex: 1 0 auto;
  border: 0px;
  border-radius: 5px;
  padding: 0px 10px 0px 40px;
  background: #ffffff;
  outline: none;
  font-size: 14px;
}

.input:hover {
  background: #f8f9fa;
}

.image {
  left: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.button {
  margin-left: 10px;
}
