.body {
  border: 1px #dce1e6 solid;
  margin: 5px 0px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBody {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.userName {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.userImage {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.data {
  color: #818c99;
  font-size: 12px;
}

.postName {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}

.privateImage {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.secretButtons {
  display: flex;
  align-items: center;
}

.banButton {
  border: 0px;
  background: #ebf2fa;
  color: #3770b1;
  transition: background-color 150ms linear;
  cursor: pointer;
  padding: 7px 0px;
  width: 100px;
  border-radius: 5px;
  font-size: 13px;
  margin-right: 10px;
}

.banButton:hover {
  background: #dfeaf6;
}

.change {
  background: #ebf2fa;
  color: #3770b1;
  transition: background-color 150ms linear;
  padding: 7px 0px;
  width: 100px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  margin-right: 10px;
}

.change:hover {
  background: #dfeaf6;
}

.openButton {
  display: block;
  background: #4177b5;
  color: #ffffff;
  transition: background-color 150ms linear;
  padding: 7px 0px;
  width: 100px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}

.info {
  margin-bottom: 10px;
}

.deleteButton {
  background: #4177b5;
  color: #ffffff;
  transition: background-color 150ms linear;
  padding: 7px 0px;
  width: 100px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  border: 0px;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  margin: -2px 0px;
}
