.body {
  border: 1px #dce1e6 solid;
  margin: 5px 0px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBody {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.userName {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.userImage {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.data {
  color: #818c99;
  font-size: 12px;
}

.postName {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}

.privateImage {
  width: 25px;
  height: 25px;
}

.secretButtons {
  display: flex;
  align-items: center;
}

.banButton {
  margin-left: 10px;
}

.change {
  margin-left: 10px;
}

.info {
  margin-bottom: 10px;
}

.loader {
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
}

.deleteButton {
  margin-left: 10px;
}
