.body {
  display: flex;
}

.basePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 30px;
  border: 0px;
  border-radius: 3px;
}

.page {
  margin: 0px 2px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

.page:hover {
  background-color: #e6e6e6;
}

.selectPage {
  margin: 0px 2px;
  cursor: pointer;
  background-color: #4177b5;
  color: #ffffff;
}

.missing {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

.switch {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

.switch:first-child {
  margin-right: 5px;
}

.switch:last-child {
  margin-left: 5px;
}

.switch:hover {
  background-color: #4177b5;
  color: #ffffff;
}
