.login {
  text-decoration: none;
  color: #000000;
  margin-right: 10px;
  transition: color 150ms linear;
}

.login:hover {
  color: #858585;
}

.register {
  text-decoration: none;
  color: #000000;
  border: 1px #000000 solid;
  padding: 6px 4px;
  border-radius: 5px;
  transition: color 150ms linear, border 150ms linear;
}

.register:hover {
  color: #858585;
  border: 1px #858585 solid;
}
